<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symmetric Icon Attractor</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/attractor.js"></script>
    <script src="../js/symmetric_icon_attractor.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../css/main.css" type="text/css" rel="stylesheet"/>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body id="fractal_body">
<canvas id="canvas"></canvas>
<form>
    <div>
        <label for="colorInput">Color</label>
        <input type="color" id="colorInput" value="#ff0000"/>
    </div>
    <div>
        <label for="backgroundColorInput">Background color</label>
        <input type="color" id="backgroundColorInput" value="#000000"/>
    </div>
    <div>
        <label for="lInput">L: <span id="lValue">-1.4</span></label>
        <input class="slider" type="range" min="-3" max="3" id="lInput" value="-1.4" step="0.1"/>
    </div>
    <div>
        <label for="aInput">A: <span id="aValue">-1.4</span></label>
        <input class="slider" type="range" min="-5" max="5" id="aInput" value="-1.4" step="0.1"/>
    </div>
    <div>
        <label for="bInput">B: <span id="bValue">1.6</span></label>
        <input class="slider" type="range" min="-20" max="20" id="bInput" value="1.6" step="0.1"/>
    </div>
    <div>
        <label for="gInput">G: <span id="gValue">1.0</span></label>
        <input class="slider" type="range" min="-1" max="1" id="gInput" value="1.0" step="0.01"/>
    </div>
    <div>
        <label for="oInput">O: <span id="oValue">1.0</span></label>
        <input class="slider" type="range" min="-1" max="1" id="oInput" value="1.0" step="0.01"/>
    </div>
    <div>
        <label for="dInput">D: <span id="dValue">0</span></label>
        <input class="slider" type="range" min="0" max="90" id="dInput" value="0" step="1"/>
    </div>
    <div>
        <label for="opacityInput">Intensity: <span id="opacityValue">0.05</span></label>
        <input class="slider" type="range" min="0.01" max="1" id="opacityInput" value="0.05" step="0.01"/>
    </div>
    <div>
        <label for="examples">Examples</label>
        <select name="examples" id="examples">
        </select>
    </div>
    <div>
        <button class="btn btn-lg btn-primary" id="clearButton">Clear</button>
    </div>
    <div>
        <button class="btn btn-lg btn-primary" id="stopButton">Stop</button>
    </div>
    <div>
        <a class="btn btn-info" href="../index.html">Menu</a>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        let symmetricIconAttractor = new SymmetricIconAttractor('canvas');
        symmetricIconAttractor.init();
    });
</script>
</body>
</html>
